In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
labor = pd.read_csv("Radi_labor.csv", encoding="unicode_escape")
reference_df = pd.read_csv("patient_reference.csv")

In [ ]:
labor.index=pd.MultiIndex.from_frame(labor)
grouped=labor.groupby(level=["patient_id", "observation_description"])
grouped.aggregate(np.sum)

In [ ]:
labor.groupby(["patient_id", "observation_description"]).sum()

In [18]:
# Select lab parameters and get their values and patient npi into a csv

analyzer_ids = labor["patient_id"].unique()
npis = reference_df["npi"].unique()
# analyzer_observation_codes = labor["observation_code"].unique()
analyzer_observation_codes = ["KKGLUSE", "KKCRP", "KKCRP", "KKTROPTH", "KKPBNP", "KKKN", "KKKREA", "KKEGFRE", "KKFVS", "KKPTINR", "KKAPTI", "KKHBA1C", "KKTG", "KKLDL", "KKQDDIM"]


# IDs = [455768, 456420, 455996, 456420, 480627]
# OBSs = ["KKKREA", "KKKN", "KKNA", "KKK"]

dft = pd.DataFrame(index=["ID"], columns=["NPI"])
grouped = labor.groupby(["patient_id", "observation_code"])
for ID in analyzer_ids:
  NPI = reference_df.loc[reference_df["patient_id"]==ID, "npi"].values[0]
  for OBS in analyzer_observation_codes:
    try:
      VAL = grouped.get_group((ID, OBS))["observation_labvalue_numeric"].values[0]
      
    except KeyError:
      VAL = None
    # row = pd.Series({OBS:VAL}, name=ID)
    # print(row)
    
    dft.at[ID, OBS] = VAL
    dft.at[ID, "NPI"] = NPI
dft = dft.drop(index=["ID"])
dft

,NPI,KKGLUSE,KKCRP,KKTROPTH,KKPBNP,KKKN,KKKREA,KKEGFRE,KKFVS,KKPTINR,KKAPTI,KKHBA1C,KKTG,KKLDL,KKQDDIM
455768,34356630,NaN,NaN,NaN,NaN,8.5,166.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455967,75429197,NaN,15.0,NaN,NaN,3.0,58.0,NaN,10.51,1.00,46.8,NaN,NaN,NaN,NaN
455996,34112447,NaN,NaN,NaN,NaN,3.2,84.0,NaN,6.17,0.99,31.5,NaN,NaN,NaN,NaN
456420,57515676,5.9,4.6,64.0,3879.0,18.1,167.0,24.0,8.40,1.33,38.3,NaN,NaN,NaN,NaN
459441,100126503,4.8,4.8,20.0,NaN,8.1,78.0,56.0,7.32,1.24,30.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867982,21653184,7.9,6.0,19.0,273.0,5.4,93.0,74.0,11.30,1.01,NaN,NaN,NaN,NaN,NaN
868494,57196985,NaN,13.4,NaN,1250.0,6.5,38.0,NaN,8.99,NaN,NaN,6.3,0.82,1.5,NaN
868613,94026182,6.9,14.0,8.0,NaN,5.0,87.0,82.0,6.59,0.94,40.7,NaN,NaN,NaN,NaN
868717,60122281,5.3,12.9,31.0,NaN,6.7,81.0,60.0,8.50,1.38,29.7,NaN,NaN,NaN,NaN
868781,23257771,NaN,5.3,11.0,NaN,5.3,73.0,NaN,9.61,NaN,33.0,NaN,NaN,NaN,NaN

In [19]:
dft.to_csv("labs.csv")

In [27]:
reference_df = pd.read_csv("patient_reference.csv")
reference_df.head()
# df.at[if patient_id=XXXX, npi]?

   patient_id       npi  date_shift reference_date shifted_refrence_date
0      696678  87649743          -3     2021-11-01            2021-10-29
1      478574  10330791           0     2021-11-02            2021-11-02
2      778705  18844234           1     2021-11-02            2021-11-03
3      556686  70982770          -2     2021-11-03            2021-11-01
4      778563  94651755           3     2021-11-03            2021-11-06

In [4]:
len(reference_df["npi"].unique())
reference_df.shape

(738, 5)

In [15]:
test_id = 478574
NI=reference_df.loc[reference_df["patient_id"]==test_id, "npi"]
NI.values[0]

10330791