In [1]:
import pandas as pd
import os
import numpy as np

In [4]:
labor = pd.read_csv("Radi_labor.csv", encoding="unicode_escape")
reference_df = pd.read_csv("patient_reference.csv")

In [ ]:
labor.index=pd.MultiIndex.from_frame(labor)
grouped=labor.groupby(level=["patient_id", "observation_description"])
grouped.aggregate(np.sum)

In [ ]:
labor.groupby(["patient_id", "observation_description"]).sum()

## Labs data

In [18]:
# Select lab parameters and get their values and patient npi into a csv

analyzer_ids = labor["patient_id"].unique()
npis = reference_df["npi"].unique()
# analyzer_observation_codes = labor["observation_code"].unique()
analyzer_observation_codes = ["KKGLUSE", "KKCRP", "KKCRP", "KKTROPTH", "KKPBNP", "KKKN", "KKKREA", "KKEGFRE", "KKFVS", "KKPTINR", "KKAPTI", "KKHBA1C", "KKTG", "KKLDL", "KKQDDIM"]


# IDs = [455768, 456420, 455996, 456420, 480627]
# OBSs = ["KKKREA", "KKKN", "KKNA", "KKK"]

dft = pd.DataFrame(index=["ID"], columns=["NPI"])
grouped = labor.groupby(["patient_id", "observation_code"])
for ID in analyzer_ids:
  NPI = reference_df.loc[reference_df["patient_id"]==ID, "npi"].values[0]
  for OBS in analyzer_observation_codes:
    try:
      VAL = grouped.get_group((ID, OBS))["observation_labvalue_numeric"].values[0]
      
    except KeyError:
      VAL = None
    # row = pd.Series({OBS:VAL}, name=ID)
    # print(row)
    
    dft.at[ID, OBS] = VAL
    dft.at[ID, "NPI"] = NPI
dft = dft.drop(index=["ID"])
dft

,NPI,KKGLUSE,KKCRP,KKTROPTH,KKPBNP,KKKN,KKKREA,KKEGFRE,KKFVS,KKPTINR,KKAPTI,KKHBA1C,KKTG,KKLDL,KKQDDIM
455768,34356630,NaN,NaN,NaN,NaN,8.5,166.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455967,75429197,NaN,15.0,NaN,NaN,3.0,58.0,NaN,10.51,1.00,46.8,NaN,NaN,NaN,NaN
455996,34112447,NaN,NaN,NaN,NaN,3.2,84.0,NaN,6.17,0.99,31.5,NaN,NaN,NaN,NaN
456420,57515676,5.9,4.6,64.0,3879.0,18.1,167.0,24.0,8.40,1.33,38.3,NaN,NaN,NaN,NaN
459441,100126503,4.8,4.8,20.0,NaN,8.1,78.0,56.0,7.32,1.24,30.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867982,21653184,7.9,6.0,19.0,273.0,5.4,93.0,74.0,11.30,1.01,NaN,NaN,NaN,NaN,NaN
868494,57196985,NaN,13.4,NaN,1250.0,6.5,38.0,NaN,8.99,NaN,NaN,6.3,0.82,1.5,NaN
868613,94026182,6.9,14.0,8.0,NaN,5.0,87.0,82.0,6.59,0.94,40.7,NaN,NaN,NaN,NaN
868717,60122281,5.3,12.9,31.0,NaN,6.7,81.0,60.0,8.50,1.38,29.7,NaN,NaN,NaN,NaN
868781,23257771,NaN,5.3,11.0,NaN,5.3,73.0,NaN,9.61,NaN,33.0,NaN,NaN,NaN,NaN

In [19]:
dft.to_csv("labs.csv")

In [20]:
dft.to_excel("labs.xlsx")

In [27]:
reference_df = pd.read_csv("patient_reference.csv")
reference_df.head()
# df.at[if patient_id=XXXX, npi]?

   patient_id       npi  date_shift reference_date shifted_refrence_date
0      696678  87649743          -3     2021-11-01            2021-10-29
1      478574  10330791           0     2021-11-02            2021-11-02
2      778705  18844234           1     2021-11-02            2021-11-03
3      556686  70982770          -2     2021-11-03            2021-11-01
4      778563  94651755           3     2021-11-03            2021-11-06

In [4]:
len(reference_df["npi"].unique())
reference_df.shape

(738, 5)

In [25]:
test_id = 556686
NI=reference_df.loc[reference_df["patient_id"]==test_id, "npi"].values[0]
if NI.itemsize == 8:

8

In [14]:
labs_df = pd.read_excel("labs.xlsx")
labs_df.columns

Index(['analyser_id', 'NPI', 'KKGLUSE', 'KKCRP', 'KKTROPTH', 'KKPBNP', 'KKKN',
       'KKKREA', 'KKEGFRE', 'KKFVS', 'KKPTINR', 'KKAPTI', 'KKHBA1C', 'KKTG',
       'KKLDL', 'KKQDDIM'],
      dtype='object')

In [33]:
new_df = pd.DataFrame(index=["ID"], columns=["reference_date"])
for ana_id in labs_df["analyser_id"]:
    ref_date = reference_df.loc[reference_df["patient_id"]==ana_id, "reference_date"].values[0]
    print(f"{ref_date}")
    # new_df.at[ana_id, "reference_date"] = ref_date

# new_df

2021-11-10
2022-04-19
2022-06-10
2022-06-10
2021-12-01
2022-01-07
2022-05-24
2022-04-03
2022-06-10
2022-02-15
2022-07-11
2022-06-09
2022-03-13
2022-07-18
2022-06-23
2022-04-08
2022-07-08
2021-12-06
2022-01-10
2021-11-11
2022-07-19
2022-02-27
2022-06-23
2022-07-14
2022-05-21
2022-06-05
2021-11-02
2022-06-15
2022-06-15
2022-06-13
2022-07-16
2022-01-21
2022-06-08
2022-07-08
2022-04-14
2022-07-31
2021-12-22
2022-06-17
2022-06-30
2022-06-07
2021-12-01
2021-12-30
2021-11-16
2022-01-22
2022-06-14
2021-12-10
2022-04-23
2022-06-13
2022-01-03
2021-12-03
2021-11-08
2022-05-18
2022-06-14
2021-12-01
2022-05-22
2022-06-05
2022-05-20
2022-06-25
2022-06-04
2022-06-19
2022-06-15
2022-01-30
2022-03-18
2022-02-07
2021-11-14
2022-04-29
2022-07-11
2021-12-01
2021-11-10
2021-12-02
2022-07-18
2022-04-27
2022-05-22
2022-06-10
2022-07-13
2021-12-03
2022-03-21
2022-05-01
2022-06-10
2022-01-09
2022-07-20
2021-12-28
2022-07-25
2021-11-07
2022-05-15
2022-07-18
2021-12-07
2021-11-29
2022-06-11
2022-02-22
2022-06-27
2021-12-05
2022-07-01
2021-12-01
2022-01-04
2022-07-18
2022-01-02
2021-12-06
2022-05-28
2021-11-14
2021-12-15
2021-12-31
2021-12-20
2021-12-28
2021-12-06
2021-12-17
2022-05-26
2022-01-07
2022-03-19
2021-12-14
2022-07-16
2022-07-18
2021-12-20
2022-06-24
2022-06-02
2022-05-25
2022-05-12
2021-12-13
2022-01-31
2022-05-26
2022-06-21
2022-04-24
2021-11-26
2022-06-30
2022-06-03
2022-04-28
2022-07-05
2021-12-09
2022-03-12
2022-07-31
2021-12-26
2022-07-12
2022-05-20
2022-04-25
2021-11-09
2022-01-25
2022-06-11
2022-05-04
2022-07-31
2021-11-04
2021-11-10
2022-06-11
2022-01-22
2022-07-23
2021-12-23
2021-12-04
2022-07-21
2022-01-20
2021-12-13
2022-04-03
2021-12-07
2022-04-23
2022-04-20
2022-06-29
2022-06-30
2021-11-05
2022-06-21
2022-04-23
2022-04-22
2022-01-18
2021-11-13
2021-12-26
2022-05-09
2022-02-11
2022-06-09
2022-05-23
2022-06-25
2021-11-15
2021-12-10
2021-11-09
2022-06-18
2021-12-30
2021-11-23
2021-11-16
2021-11-25
2022-07-06
2022-07-04
2021-11-15
2022-07-09
2022-06-11
2022-04-18
2022-01-22
2021-12-18
2022-05-26
2022-03-02
2022-07-03
2022-01-03
2022-03-04
2022-01-18
2021-11-24
2022-01-04
2021-11-06
2021-11-22
2021-11-16
2021-12-17
2021-11-29
2022-02-18
2021-11-11
2022-04-28
2022-01-27
2021-11-08
2022-01-18
2022-04-01
2022-03-10
2022-04-15
2022-01-09
2022-03-14
2022-06-13
2022-02-01
2021-11-12
2021-11-01
2022-03-04
2022-07-13
2022-03-31
2021-12-04
2022-06-26
2021-11-16
2022-03-20
2022-06-11
2022-06-13
2022-01-08
2022-06-28
2021-12-02
2022-06-25
2022-04-09
2021-12-07
2022-03-11
2022-07-07
2022-07-04
2022-05-16
2021-11-21
2022-07-05
2022-07-08
2022-07-16
2022-05-22
2022-04-27
2022-01-22
2021-11-06
2021-11-10
2022-07-11
2022-06-08
2022-07-08
2022-01-24
2022-01-04
2022-03-04
2022-01-26
2022-01-02
2022-04-09
2022-07-21
2021-12-01
2021-12-03
2021-12-02
2022-07-15
2022-02-04
2021-11-26
2021-12-10
2021-11-03
2021-11-05
2021-11-02
2021-11-06
2021-11-09
2021-11-10
2021-11-27
2021-11-10
2021-11-12
2021-11-13
2021-11-14
2021-11-18
2021-11-19
2021-11-13
2021-11-22
2021-11-24
2021-11-25
2022-06-10
2022-01-18
2022-04-06
2022-04-11
2022-06-24
2021-11-22
2021-11-30
2021-12-01
2021-12-07
2021-12-03
2022-07-17
2022-07-16
2022-07-12
2022-04-19
2022-07-07
2021-12-08
2021-12-09
2021-12-10
2021-12-13
2021-12-16
2021-12-18
2021-12-20
2021-12-20
2021-12-21
2021-12-24
2021-12-24
2021-12-27
2021-12-27
2021-12-28
2022-01-18
2022-01-04
2022-01-19
2022-01-17
2022-01-22
2022-01-23
2022-01-29
2022-02-12
2022-03-01
2022-06-07
2022-02-25
2022-02-18
2022-03-21
2022-03-03
2022-03-12
2022-03-17
2022-03-24
2022-03-27
2022-03-27
2022-03-29
2022-04-03
2022-04-03
2022-04-04
2022-04-06
2022-05-13
2022-04-06
2022-04-06
2022-04-18
2022-04-22
2022-06-12
2022-05-05
2022-05-06
2022-05-10
2022-05-11
2022-05-11
2022-05-19
2022-05-19
2022-05-25
2022-05-28
2022-06-04
2022-06-05
2022-06-07
2022-07-01
2022-06-14
2022-07-15
2022-06-18
2022-06-20
2022-06-25
2022-06-30
2022-07-03
2022-07-07
2022-07-09
2022-07-10
2022-07-14
2022-07-14
2022-07-15
2022-07-16
2022-07-19
2022-07-22
2022-07-23
2022-07-25
2022-07-25

IndexError: index 0 is out of bounds for axis 0 with size 0

In [20]:
test_id = 556686
RD = reference_df.loc[reference_df["patient_id"]==test_id, "reference_date"].values[0]
RD

'2021-11-03'

In [9]:
echo_df = pd.read_excel("sziv_echo_lelet.ods", engine="odf")
echo_df.to_excel("sziv_echo_lelet.xlsx")

## Text data

In [2]:
# read excels into pandas

neurologia_df = pd.read_excel("neurologia.xlsx")
sbo_df = pd.read_excel("sbo_ambulans_lap.xlsx")
echo_df = pd.read_excel("sziv_echo_lelet.xlsx")
reference_df = pd.read_csv("patient_reference.csv")

In [3]:
echo_df.head()

,Unnamed: 0,patient_id,shifted_refrence_date,account_date,txt_type,txt_value
0,0,455768,2021-11-12,2020-01-16,ANM,Echocardiographia: Aorta: 28 ...
1,1,455967,2022-04-09,2022-09-17,STA,Aorta: 23-33-30 mm Bal pitvar: ...
2,2,455967,2022-04-09,2022-09-17,ADN,csak echo neuro kéri ambuláns beteg sűrgős helén
3,3,455996,2022-04-19,2022-04-22,STA,Aorta: 25-40-36-40 mm EDV: 152 mlB...
4,4,456420,2022-06-12,2022-06-18,STA,Aorta: 22-30-24 mm EDV: 90 ml...

In [13]:
analyzer_ids = neurologia_df["patient_id"].unique()
npis = reference_df["npi"].unique()
# analyzer_observation_codes = neurologia_df["observation_code"].unique()
# analyzer_observation_codes = ["KKGLUSE", "KKCRP", "KKCRP", "KKTROPTH", "KKPBNP", "KKKN", "KKKREA", "KKEGFRE", "KKFVS", "KKPTINR", "KKAPTI", "KKHBA1C", "KKTG", "KKLDL", "KKQDDIM"]
text_types = ["ANM", # Gyógyszerek, betegségek
              "_DLANM",
              "STA", # NIHSS, pre-mRS
              "_DLSTA",
              "_DLDGN", # diagnózisok, BNO-kódok
              "EPD",
              "_DLEPD", # epikrízis
              "DEC", # dekurzus - pl. thrlysis (dózissal együtt), threctomia
              ]

# IDs = [455768, 456420, 455996, 456420, 480627]
# OBSs = ["KKKREA", "KKKN", "KKNA", "KKK"]

text_df = pd.DataFrame(index=['ID'], columns=['NPI', 'adm_date', 'prev_stroke', 'AF', 'CHF', 'vascular_disease', 'Diabetes', 'Hypertension', 'Alcohol', 'Smoking', 'Anticoag_prev', 'TAG_prev', 'DM_ther', 'pre_mRS', 'RR_sys', 'RR_dia', 'HR', 'NIHSS_0', 'Thrombolysis', 'Alteplase_dose', 'Thrombectomy'])
grouped = neurologia_df.groupby(["patient_id", "txt_type"])
for ID in analyzer_ids:
  NPI = reference_df.loc[reference_df["patient_id"]==ID, "npi"].values[0]
  ADM_DATE = neurologia_df.loc[neurologia_df["patient_id"]==ID, "admission_date"].values[0]
  for TXT in text_types:
    try:
      VAL = grouped.get_group((ID, TXT))["txt_value"].values[0]
      
    except KeyError:
      VAL = None
    # row = pd.Series({OBS:VAL}, name=ID)
    # print(row)
    
    text_df.at[ID, TXT] = VAL
    text_df.at[ID, "NPI"] = NPI
    text_df.at[ID, "adm_date"] = ADM_DATE
text_df = text_df.drop(index=["ID"])
#text_df.to_excel('text_data.xlsx')

## Thrombolysis

In [11]:
alteplase_df = pd.DataFrame(index=['ID'], columns=['NPI','dec_txt', 'epi_txt'])
for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    STAT_TEXT = str(text_df.at[ID, 'STA']) + ' ' + str(text_df.at[ID, '_DLSTA'])
    DIAG_TEXT = str(text_df.at[ID, '_DLDGN']) # pl.: if 'I48H0' in DIAG_TEXT -> AF = 'yes'
    EPI_TEXT = str(text_df.at[ID, 'EPD']) + ' ' + str(text_df.at[ID, '_DLEPD'])
    DEC_TEXT = str(text_df.at[ID, 'DEC'])

    if 'altep' in DEC_TEXT:
        alteplase_df.at[ID, 'NPI'] = NPI
        alteplase_df.at[ID, 'dec_txt'] = DEC_TEXT
    elif 'altep' in EPI_TEXT:
        alteplase_df.at[ID, 'NPI'] = NPI
        alteplase_df.at[ID, 'epi_txt'] = EPI_TEXT

alteplase_df.to_csv("alteplase.csv")

## Status

In [66]:
import re
# Status patterns
nihss_pattern = r'NIHSS:?\s*\d+'
mrs_pattern = r'mRS:?\s*\d+'
rr_pattern = r'RR:\s?\d{2,3}/\d{2,3}'
#rr_pattern = r'NIBP:?\s?\d{2,3}/?\d{2,3}'
#hr_pattern = r'P:\s?\d{2,3}'
hr_pattern = r',?\s?m\s?P:\s?\d{2,3}'
#status_patterns = [nihss_pattern, mrs_pattern, rr_pattern, hr_pattern]

In [67]:
for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    STAT_TEXT = str(text_df.at[ID, 'STA']) + ' ' + str(text_df.at[ID, '_DLSTA'])
    DIAG_TEXT = str(text_df.at[ID, '_DLDGN']) # pl.: if 'I48H0' in DIAG_TEXT -> AF = 'yes'
    EPI_TEXT = str(text_df.at[ID, 'EPD']) + ' ' + str(text_df.at[ID, '_DLEPD'])
    DEC_TEXT = str(text_df.at[ID, 'DEC'])
    ALL_TEXT = ANM_TEXT + STAT_TEXT + DIAG_TEXT + EPI_TEXT + DEC_TEXT

    nihss = re.findall(nihss_pattern, ALL_TEXT)
    if nihss:
        #print(nihss[0])
        nihss = nihss[0].split()
        #print(len(nihss))
        if len(nihss) == 2:
            text_df.at[ID, 'NIHSS_0'] = nihss[1]



    mrs = re.findall(mrs_pattern, ALL_TEXT)
    if mrs:
        mrs = mrs[0].split()
        if len(mrs) == 2:
            text_df.at[ID, 'pre_mRS'] = mrs[1]



    rr = re.findall(rr_pattern, STAT_TEXT)
    if rr:
        rr = rr[0].split(':')
        if len(rr)==2:
            rr = rr[1]
            rr_sys = rr.split('/')[0]
            rr_dia = rr.split('/')[1]
        text_df.at[ID, 'RR_sys'] = rr_sys
        text_df.at[ID, 'RR_dia'] = rr_dia


    hr = re.findall(hr_pattern, STAT_TEXT)
    if hr:
        hr = hr[0].split(':')[1]
        text_df.at[ID, 'HR'] = hr

## Anamnesis

In [57]:
for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    STAT_TEXT = str(text_df.at[ID, 'STA']) + ' ' + str(text_df.at[ID, '_DLSTA'])
    DIAG_TEXT = str(text_df.at[ID, '_DLDGN']) # pl.: if 'I48H0' in DIAG_TEXT -> AF = 'yes'
    EPI_TEXT = str(text_df.at[ID, 'EPD']) + ' ' + str(text_df.at[ID, '_DLEPD'])
    DEC_TEXT = str(text_df.at[ID, 'DEC'])
    ALL_TEXT = ANM_TEXT + STAT_TEXT + DIAG_TEXT + EPI_TEXT + DEC_TEXT

    #Hypertonia
    if 'Morbus hypertonicus' in DIAG_TEXT:
        text_df.at[ID, 'Hypertension'] = 1

    #Diabetes
    if 'Diabetes mellitus' in DIAG_TEXT:
        text_df.at[ID, 'Diabetes'] = 1

    #Vascular disease
    vascs = ['myocardii', 'Atherosclerosis']
    for item in vascs:
        if item in DIAG_TEXT:
            text_df.at[ID, 'vascular_disease'] = 1

    #Pangásos SZE
    if 'Decompensatio' in DIAG_TEXT:
        text_df.at[ID, 'CHF'] = 1

    #PF
    if 'Fibrillatio atrii cordis' in DIAG_TEXT:
        text_df.at[ID, 'AF'] = 1
        # pfs = ['PF', 'Pitvarfibrillatio', 'pitvarfibrillatio']
        # for item in pfs:
        #     if item in ANM_TEXT:
        #         text_df.at[ID, 'AF'] = 'known'
        #     else:
        #         text_df.at[ID, 'AF'] = 'recent'


    #Stroke/TIA/thromboembolia
    embs = ['embolia', 'TIA', 'MVT']
    for item in embs:
        if item in ANM_TEXT:
            text_df.at[ID, 'prev_stroke'] = 2

In [150]:
text_df['AF'] = None

## Korábbi dolgok

In [3]:
import pandas as pd
import re
text_df = pd.read_excel('text_data.xlsx', index_col="Unnamed: 0")

In [74]:
patterns = [r'Kórelőzmény.*',
            r'Korábbi.*',
            r'Ismert.*',
            r'Társ.*',
            r'Távolabbi.*'
]

for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    
    KORELOZMENY_TEXT = ''
    for pattern in patterns:
        match = re.findall(pattern, ANM_TEXT)
        if match:
            KORELOZMENY_TEXT += match[0]
    #print(KORELOZMENY_TEXT)
    strokes = ['stroke', 'Stroke', 'TIA', 'embolia']
    for s in strokes:
        if s in KORELOZMENY_TEXT:
            text_df.at[ID, 'prev_stroke'] = 2

    pfs = ['PF', 'pitvarfibrillatio', 'pitvarfibrilláció']
    for p in pfs:
        if p in KORELOZMENY_TEXT:
            text_df.at[ID, "AF"] = 1

    hts = ['HT', 'hypertonia', 'hypertensio', 'magas vérnyomás', 'Hypertonia', 'Hypertensio', 'ht']
    for h in hts:
        if h in KORELOZMENY_TEXT:
            text_df.at[ID, "Hypertension"] = 1

    dms = ['DM', 'dm', 'diabetes', 'Diabetes', 'cukor', 'Cukor', 'Diab', 'diab']
    for d in dms:
        if d in KORELOZMENY_TEXT:
            text_df.at[ID, "Diabetes"] = 1

    vascs = ['ISZB', 'MI', 'myocard', 'myokard', 'miocard', 'miokard', 'athero', 'Athero', 'Myo', 'Mio', 'arterio', 'Arterio', 'iszb']
    for v in vascs:
        if v in KORELOZMENY_TEXT:
            text_df.at[ID, 'vascular_disease'] = 1

In [ ]:
text_df.to_excel('text_data.xlsx')

In [28]:
table_ids = [
    '034356630',
    '034112447',
    '057515676',
    '100126503',
    '006550699',
    '021285402',
    '056966879',
    '017757991',
    '102850385',
    '115968772',
    '011470078',
    '012089392',
    '059115698',
    '017843942',
    '053688532',
    '068050173',
    '062951319',
    '075707930',
    '070249723',
    '006517816',
    '065969582',
    '056952414',
    '075024802',
    '120616592',
    '072701056',
    '063574713',
    '010330791',
    '014417119',
    '065942257',
    '030800234',
    '103305792',
    '016637153',
    '090757587',
    '070869446',
    '063323779',
    '102884265',
    '065519620',
    '012241367',
    '015841777',
    '024543080',
    '052923513',
    '061469956',
    '029244191',
    '011353313',
    '070139266',
    '013500238',
    '056523854',
    '010239948',
    '064375575',
    '058576117',
    '072608924',
    '067828915',
    '066789381',
    '056745982',
    '055687902',
    '008884569',
    '007042100',
    '024488884',
    '021657371',
    '103231882',
    '062113786',
    '010757684',
    '069030565',
    '009789735',
    '017631185',
    '060762577',
    '016881325',
    '045332186',
    '021904527',
    '063461774',
    '020317368',
    '084469650',
    '028345893',
    '019555748',
    '011058283',
    '057530536',
    '014257038',
    '068616340',
    '009135675',
    '055373333',
    '013020772',
    '067355437',
    '099976563',
    '061371822',
    '018514007',
    '054542390',
    '011915915',
    '054412428',
    '069940341',
    '015421694',
    '103595456',
    '020889667',
    '008148061',
    '059350314',
    '017555962',
    '057858364',
    '025736779',
    '028762607',
    '117909258',
    '064293329',
    '050222119',
    '009888120',
    '008677958',
    '084755399',
    '061263149',
    '014000597',
    '080605876',
    '059929121',
    '041222610',
    '022416364',
    '054066540',
    '062622574',
    '009265547',
    '018216787',
    '066397430',
    '009793932',
    '020577607',
    '059917753',
    '054940662',
    '017383918',
    '057915533',
    '055959379',
    '098825176',
    '008158167',
    '061735077',
    '113973444',
    '052783555',
    '015934617',
    '006868589',
    '102965744',
    '069299223',
    '059783570',
    '103262091',
    '012456390',
    '101309268',
    '026703655',
    '118043227',
    '082279866',
    '072827628',
    '067510771',
    '060586735',
    '105616861',
    '066115689',
    '079511661',
    '027865891',
    '025339071',
    '055175625',
    '037717089',
    '014425431',
    '011025128',
    '015964575',
    '021540451',
    '036037265',
    '056897919',
    '076544875',
    '103984801',
    '007767904',
    '037928090',
    '089230910',
    '010948352',
    '014795000',
    '102986895',
    '058301344',
    '062356116',
    '005625369',
    '091886716',
    '058180615',
    '018324312',
    '013137867',
    '016430428',
    '105252104',
    '102344897',
    '008541163',
    '060310350',
    '025503359',
    '012509836',
    '022750626',
    '103809599',
    '023399853',
    '061169704',
    '062702324',
    '057056137',
    '079345860',
    '039035521',
    '059928863',
    '011747622',
    '061689994',
    '104186273',
    '062784274',
    '125074128',
    '054544741',
    '028934606',
    '073822877',
    '009521641',
    '140467910',
    '094950113',
    '020636234',
    '027177497',
    '070871010',
    '056780329',
    '110779443',
    '051887368',
    '058006283',
    '011942559',
    '013302087',
    '020097031',
    '058943366',
    '036300756',
    '060461328',
    '069474257',
    '087649743',
    '023670769',
    '075632353',
    '028216612',
    '059541288',
    '006062323',
    '127087685',
    '118882912',
    '034006263',
    '030467594',
    '115609464',
    '062856881',
    '066957540',
    '017405324',
    '020489566',
    '055179094',
    '063472970',
    '056350786',
    '017371856',
    '022045320',
    '020485290',
    '018686755',
    '067032817',
    '028527022',
    '115989414',
    '094090947',
    '005939354',
    '034161782',
    '101818939',
    '071645269',
    '033480473',
    '020911502',
    '026735342',
    '058289990',
    '021910058',
    '054356081',
    '069784976',
    '056861138',
    '054549399',
    '056909047',
    '069301368',
    '030166170',
    '026044208',
    '067513514',
    '012347270',
    '040536736',
    '094651755',
    '103747796',
    '018844234',
    '070060447',
    '055114534',
    '103594909',
    '023415360',
    '053905129',
    '056606557',
    '028743426',
    '065118924',
    '023576915',
    '007495881',
    '030468058',
    '102995176',
    '094327324',
    '010826726',
    '016431896',
    '014693607',
    '055609524',
    '051795126',
    '065597376',
    '055671378',
    '057072276',
    '020091390',
    '027545650',
    '014081127',
    '091241171',
    '057879154',
    '013682958',
    '033520630',
    '066952868',
    '007770740',
    '055870368',
    '029352506',
    '057017383',
    '079368049',
    '067160053',
    '014701672',
    '013418144',
    '081955002',
    '013121714',
    '008087636',
    '019134235',
    '055466400',
    '102267701',
    '060919427',
    '019607854',
    '002739203',
    '060766726',
    '059826525',
    '009964460',
    '102828746',
    '070802731',
    '105133988',
    '010225394',
    '060926687',
    '059368784',
    '124463116',
    '053868657',
    '106806078',
    '014787568',
    '012575138',
    '025327696',
    '070207497',
    '017718965',
    '009279830',
    '020196811',
    '007128550',
    '024703518',
    '054642294',
    '052426461',
    '058473937',
    '025568668',
    '053147497',
    '132732552',
    '006995584',
    '058505418',
    '061089569',
    '061168587',
    '008654951',
    '115432068',
    '068174909',
    '114534925',
    '036088298',
    '033763338',
    '077155849',
    '013166601',
    '056402366',
    '058841066',
    '034238569',
    '018813056',
    '105231888',
    '014191529',
    '057620183',
    '145033879',
    '021143416',
    '102737790',
    '016704679',
    '023927609',
    '025269578',
    '021091551',
    '038404111',
    '021653184',
    '057196985',
    '094026182',
    '060122281',
    '023257771'
]

In [31]:
# _nls = no leading zeros
table_ids_nls = [int(i) for i in table_ids]
filtered_df = text_df[text_df['NPI'].isin(table_ids_nls)]

In [32]:
filtered_df.to_excel("filtered.xlsx")

In [27]:
for i in ['00123', '0432', '22311']:
    print(int(i))

123
432
22311

## Echo

In [45]:
echo_df = pd.read_csv("sziv_echo_lelet.csv", delimiter=";", index_col="patient_id")
#echo_df.head()

In [29]:
# for ID in echo_df['patient_id'].unique():
#     text = echo_df.loc[echo_df["patient_id"]==ID, "txt_value"].values
#     if text.any():
#         ECHO_TEXT = text[0]
#         #print(ECHO_TEXT)
#         text_df.at[ID, 'echo_lelet'] = ECHO_TEXT

In [35]:
#text_df.iloc[:,-1]

Unnamed: 0
455967    Aorta:        23-33-30  mm      Bal pitvar:   ...
456420    Aorta:       22-30-24   mm       EDV:  90   ml...
458696    Aorta:            30     mm      EDV:   99  ml...
461304    Aorta:        24-34-28   mm      EDV:  125  ml...
465034                                                  NaN
                                ...
825096    Aorta:           24      mm      EDV:  61   ml...
830380    Echocardiographia:  Aorta:     23-28-25     mm...
862763    Aorta:      21-33-30-34 mm   EDV:  82     mlBa...
866619    Aorta:       24-36-32     mm      EDV:  124   ...
867605    Ao:  20      mm          EDV: 117 mlBP:  37   ...
Name: echo_lelet, Length: 483, dtype: object

In [46]:
reference_df = pd.read_csv("patient_reference.csv")
for ID in echo_df.index:
    echo_df.at[ID, 'NPI'] = reference_df.loc[reference_df["patient_id"]==ID, "npi"].values[0]

In [47]:
patterns = [r'Ao\w*\s*:\s*\d{2}-?\d{0,2}-?\d{0,2}-?\d{0,2}',
            r'BP\s*:\s*\d{2}x?\d{0,2}x?\d{0,2}x?\d{0,2}',
            r'Bal pitvar\s*:\s*\d{0,2}x?\d{0,2}x?\d{0,2}x?\d{0,2}',
            r'ESV\s*:\s*\d+',
            r'EDV\s*:\s*\d+',
            r'ESD\s*:\s*\d+',
            r'EDD\s*:\s*\d+',
            r'EF\s*:\s*\d+',
            r'IVS\s*:\s*\d+',
            r'PW\s*:\s*\d+',
            r'TAPSE\s*:\s*\d+',
            r'E/?A\s*:\s*\d+\s*\d*/?\d{0,2}',
            r'Aorta insuff\w*\s?:?\s*\w*-?\(?\w*',
            r'Mitr\w* insuff\w*\s?:?\s*\w*-?\(?\w*',
            r'Tricusp\w* insuff\w*\s?:?\s*\w*-?\(?\w*',
            r'Pulm\w* insuff\w*\s?:?\s*\w*-?\(?\w*'
]
for ID in echo_df.index:
    ECHO_TEXT = echo_df.at[ID, "txt_value"]
    # print(str(ECHO_TEXT))
    for pattern in patterns:
        match = re.findall(pattern, str(ECHO_TEXT))
        #match = match.replace(" ", "")
        #if match:print(len(match))
        if match:
            #print(f"{ID}-{match[0].split(':')[0]}:{match[0].split(':')[1]}")
            data = match[0].replace(" ","").split(":")
            #print(data)
            if len(data) >= 2:
                echo_df.at[ID, f"{data[0]}"] = data[1]

In [49]:
echo_df.to_excel("echo_data.xlsx")

## -----------------------------------------------------------------------
## text_data.xlsx in & out

In [45]:
# IN
text_df = pd.read_excel("text_data.xlsx", index_col="Unnamed: 0")

In [86]:
# OUT
text_df.to_excel("text_data_v3.xlsx", index=True)

## --------------------------------------------------------------

## Sex & Birth

In [65]:
sb_df = pd.read_csv("sex_birth.csv", delimiter=";")

In [70]:
for ID in text_df.index:
    b_y = sb_df.loc[sb_df["patient_id"]==ID, "szul_ev"].values[0]
    sex = sb_df.loc[sb_df["patient_id"]==ID, "sex"].values[0]
    text_df.at[ID, "birth_year"] = b_y
    text_df.at[ID, "sex"] = sex
    text_df.at[ID, "NPI"] = reference_df.loc[reference_df["patient_id"]==ID, "npi"].values[0]

## SBO lap

In [14]:
import pandas as pd
import re
import numpy as np

sbo_df = pd.read_csv("sbo_ambulans_lap.csv", delimiter=";")
sbo_df.head()

,Unnamed: 0,patient_id,shifted_refrence_date,admission_date,txt_type,txt_value,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,0,455768,2021-11-12 00:00:00,2020-02-01 00:00:00,ANM,Az ismert kronikus vese elégtelen beteget álta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,455768,2021-11-12 00:00:00,2020-02-01 00:00:00,EPD,Panaszok hátterében hypotenzio valószínűsíthet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,455768,2021-11-12 00:00:00,2020-02-01 00:00:00,STA,Vizsgálatkor: A. Átjárható légút. B. Légzés: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,455967,2022-04-09 00:00:00,2022-04-09 00:00:00,STA,Vizsgálatkor:A. Átjárható légút. B. Légzés: Ré...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,455967,2022-04-09 00:00:00,2022-04-09 00:00:00,ANM,OMSZ szállítja osztályunkra a beteget. A beteg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#sbo_df.loc[sbo_df["patient_id"]==455768] and sbo_df[sbo_df["txt_type"]=="ANM", "txt_value"]
# for ID in text_df.index:
#     for var, txt_type in zip(["ANM_TEXT", "STA_TEXT", "EPI_TEXT"], ["ANM", "STA", "EPD"]):
#         var_name=var
#         var = sbo_df.loc[(sbo_df["patient_id"]==ID) & (sbo_df["txt_type"]==txt_type), "txt_value"]
#         #print(f"{ID} - {var_name} - {var}")

In [84]:
neurologia_df = pd.read_csv("neurologia.csv")

In [85]:
for ID in text_df.index:
    SBO_ANM= sbo_df.loc[(sbo_df["patient_id"]==ID) & (sbo_df["txt_type"]=="ANM"), "txt_value"]
    SBO_STA= sbo_df.loc[(sbo_df["patient_id"]==ID) & (sbo_df["txt_type"]=="STA"), "txt_value"]
    SBO_EPI= sbo_df.loc[(sbo_df["patient_id"]==ID) & (sbo_df["txt_type"]=="EPD"), "txt_value"]

    if SBO_ANM.any():
        text_df.at[ID, "ANM"] = SBO_ANM.values[0]

    if SBO_STA.any():
        text_df.at[ID, "STA"] = SBO_STA.values[0]

    if SBO_EPI.any():
        text_df.at[ID, "EPD"] = SBO_EPI.values[0]

    #ADM_DATE = sbo_df.loc[sbo_df['patient_id']==ID, 'admission_date']
    ADM_DATE = neurologia_df.loc[neurologia_df['patient_id']==ID, 'admission_date']
    if ADM_DATE.any():
        text_df.at[ID, 'adm_date'] = ADM_DATE.values[0].split(" ")[0]