In [1]:
import pandas as pd
import os
import numpy as np

In [4]:
labor = pd.read_csv("Radi_labor.csv", encoding="unicode_escape")
reference_df = pd.read_csv("patient_reference.csv")

In [ ]:
labor.index=pd.MultiIndex.from_frame(labor)
grouped=labor.groupby(level=["patient_id", "observation_description"])
grouped.aggregate(np.sum)

In [ ]:
labor.groupby(["patient_id", "observation_description"]).sum()

## Labs data

In [18]:
# Select lab parameters and get their values and patient npi into a csv

analyzer_ids = labor["patient_id"].unique()
npis = reference_df["npi"].unique()
# analyzer_observation_codes = labor["observation_code"].unique()
analyzer_observation_codes = ["KKGLUSE", "KKCRP", "KKCRP", "KKTROPTH", "KKPBNP", "KKKN", "KKKREA", "KKEGFRE", "KKFVS", "KKPTINR", "KKAPTI", "KKHBA1C", "KKTG", "KKLDL", "KKQDDIM"]


# IDs = [455768, 456420, 455996, 456420, 480627]
# OBSs = ["KKKREA", "KKKN", "KKNA", "KKK"]

dft = pd.DataFrame(index=["ID"], columns=["NPI"])
grouped = labor.groupby(["patient_id", "observation_code"])
for ID in analyzer_ids:
  NPI = reference_df.loc[reference_df["patient_id"]==ID, "npi"].values[0]
  for OBS in analyzer_observation_codes:
    try:
      VAL = grouped.get_group((ID, OBS))["observation_labvalue_numeric"].values[0]
      
    except KeyError:
      VAL = None
    # row = pd.Series({OBS:VAL}, name=ID)
    # print(row)
    
    dft.at[ID, OBS] = VAL
    dft.at[ID, "NPI"] = NPI
dft = dft.drop(index=["ID"])
dft

,NPI,KKGLUSE,KKCRP,KKTROPTH,KKPBNP,KKKN,KKKREA,KKEGFRE,KKFVS,KKPTINR,KKAPTI,KKHBA1C,KKTG,KKLDL,KKQDDIM
455768,34356630,NaN,NaN,NaN,NaN,8.5,166.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455967,75429197,NaN,15.0,NaN,NaN,3.0,58.0,NaN,10.51,1.00,46.8,NaN,NaN,NaN,NaN
455996,34112447,NaN,NaN,NaN,NaN,3.2,84.0,NaN,6.17,0.99,31.5,NaN,NaN,NaN,NaN
456420,57515676,5.9,4.6,64.0,3879.0,18.1,167.0,24.0,8.40,1.33,38.3,NaN,NaN,NaN,NaN
459441,100126503,4.8,4.8,20.0,NaN,8.1,78.0,56.0,7.32,1.24,30.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867982,21653184,7.9,6.0,19.0,273.0,5.4,93.0,74.0,11.30,1.01,NaN,NaN,NaN,NaN,NaN
868494,57196985,NaN,13.4,NaN,1250.0,6.5,38.0,NaN,8.99,NaN,NaN,6.3,0.82,1.5,NaN
868613,94026182,6.9,14.0,8.0,NaN,5.0,87.0,82.0,6.59,0.94,40.7,NaN,NaN,NaN,NaN
868717,60122281,5.3,12.9,31.0,NaN,6.7,81.0,60.0,8.50,1.38,29.7,NaN,NaN,NaN,NaN
868781,23257771,NaN,5.3,11.0,NaN,5.3,73.0,NaN,9.61,NaN,33.0,NaN,NaN,NaN,NaN

In [19]:
dft.to_csv("labs.csv")

In [20]:
dft.to_excel("labs.xlsx")

In [27]:
reference_df = pd.read_csv("patient_reference.csv")
reference_df.head()
# df.at[if patient_id=XXXX, npi]?

   patient_id       npi  date_shift reference_date shifted_refrence_date
0      696678  87649743          -3     2021-11-01            2021-10-29
1      478574  10330791           0     2021-11-02            2021-11-02
2      778705  18844234           1     2021-11-02            2021-11-03
3      556686  70982770          -2     2021-11-03            2021-11-01
4      778563  94651755           3     2021-11-03            2021-11-06

In [4]:
len(reference_df["npi"].unique())
reference_df.shape

(738, 5)

In [25]:
test_id = 556686
NI=reference_df.loc[reference_df["patient_id"]==test_id, "npi"].values[0]
if NI.itemsize == 8:

8

In [14]:
labs_df = pd.read_excel("labs.xlsx")
labs_df.columns

Index(['analyser_id', 'NPI', 'KKGLUSE', 'KKCRP', 'KKTROPTH', 'KKPBNP', 'KKKN',
       'KKKREA', 'KKEGFRE', 'KKFVS', 'KKPTINR', 'KKAPTI', 'KKHBA1C', 'KKTG',
       'KKLDL', 'KKQDDIM'],
      dtype='object')

In [33]:
new_df = pd.DataFrame(index=["ID"], columns=["reference_date"])
for ana_id in labs_df["analyser_id"]:
    ref_date = reference_df.loc[reference_df["patient_id"]==ana_id, "reference_date"].values[0]
    print(f"{ref_date}")
    # new_df.at[ana_id, "reference_date"] = ref_date

# new_df

2021-11-10
2022-04-19
2022-06-10
2022-06-10
2021-12-01
2022-01-07
2022-05-24
2022-04-03
2022-06-10
2022-02-15
2022-07-11
2022-06-09
2022-03-13
2022-07-18
2022-06-23
2022-04-08
2022-07-08
2021-12-06
2022-01-10
2021-11-11
2022-07-19
2022-02-27
2022-06-23
2022-07-14
2022-05-21
2022-06-05
2021-11-02
2022-06-15
2022-06-15
2022-06-13
2022-07-16
2022-01-21
2022-06-08
2022-07-08
2022-04-14
2022-07-31
2021-12-22
2022-06-17
2022-06-30
2022-06-07
2021-12-01
2021-12-30
2021-11-16
2022-01-22
2022-06-14
2021-12-10
2022-04-23
2022-06-13
2022-01-03
2021-12-03
2021-11-08
2022-05-18
2022-06-14
2021-12-01
2022-05-22
2022-06-05
2022-05-20
2022-06-25
2022-06-04
2022-06-19
2022-06-15
2022-01-30
2022-03-18
2022-02-07
2021-11-14
2022-04-29
2022-07-11
2021-12-01
2021-11-10
2021-12-02
2022-07-18
2022-04-27
2022-05-22
2022-06-10
2022-07-13
2021-12-03
2022-03-21
2022-05-01
2022-06-10
2022-01-09
2022-07-20
2021-12-28
2022-07-25
2021-11-07
2022-05-15
2022-07-18
2021-12-07
2021-11-29
2022-06-11
2022-02-22
2022-06-27
2021-12-05
2022-07-01
2021-12-01
2022-01-04
2022-07-18
2022-01-02
2021-12-06
2022-05-28
2021-11-14
2021-12-15
2021-12-31
2021-12-20
2021-12-28
2021-12-06
2021-12-17
2022-05-26
2022-01-07
2022-03-19
2021-12-14
2022-07-16
2022-07-18
2021-12-20
2022-06-24
2022-06-02
2022-05-25
2022-05-12
2021-12-13
2022-01-31
2022-05-26
2022-06-21
2022-04-24
2021-11-26
2022-06-30
2022-06-03
2022-04-28
2022-07-05
2021-12-09
2022-03-12
2022-07-31
2021-12-26
2022-07-12
2022-05-20
2022-04-25
2021-11-09
2022-01-25
2022-06-11
2022-05-04
2022-07-31
2021-11-04
2021-11-10
2022-06-11
2022-01-22
2022-07-23
2021-12-23
2021-12-04
2022-07-21
2022-01-20
2021-12-13
2022-04-03
2021-12-07
2022-04-23
2022-04-20
2022-06-29
2022-06-30
2021-11-05
2022-06-21
2022-04-23
2022-04-22
2022-01-18
2021-11-13
2021-12-26
2022-05-09
2022-02-11
2022-06-09
2022-05-23
2022-06-25
2021-11-15
2021-12-10
2021-11-09
2022-06-18
2021-12-30
2021-11-23
2021-11-16
2021-11-25
2022-07-06
2022-07-04
2021-11-15
2022-07-09
2022-06-11
2022-04-18
2022-01-22
2021-12-18
2022-05-26
2022-03-02
2022-07-03
2022-01-03
2022-03-04
2022-01-18
2021-11-24
2022-01-04
2021-11-06
2021-11-22
2021-11-16
2021-12-17
2021-11-29
2022-02-18
2021-11-11
2022-04-28
2022-01-27
2021-11-08
2022-01-18
2022-04-01
2022-03-10
2022-04-15
2022-01-09
2022-03-14
2022-06-13
2022-02-01
2021-11-12
2021-11-01
2022-03-04
2022-07-13
2022-03-31
2021-12-04
2022-06-26
2021-11-16
2022-03-20
2022-06-11
2022-06-13
2022-01-08
2022-06-28
2021-12-02
2022-06-25
2022-04-09
2021-12-07
2022-03-11
2022-07-07
2022-07-04
2022-05-16
2021-11-21
2022-07-05
2022-07-08
2022-07-16
2022-05-22
2022-04-27
2022-01-22
2021-11-06
2021-11-10
2022-07-11
2022-06-08
2022-07-08
2022-01-24
2022-01-04
2022-03-04
2022-01-26
2022-01-02
2022-04-09
2022-07-21
2021-12-01
2021-12-03
2021-12-02
2022-07-15
2022-02-04
2021-11-26
2021-12-10
2021-11-03
2021-11-05
2021-11-02
2021-11-06
2021-11-09
2021-11-10
2021-11-27
2021-11-10
2021-11-12
2021-11-13
2021-11-14
2021-11-18
2021-11-19
2021-11-13
2021-11-22
2021-11-24
2021-11-25
2022-06-10
2022-01-18
2022-04-06
2022-04-11
2022-06-24
2021-11-22
2021-11-30
2021-12-01
2021-12-07
2021-12-03
2022-07-17
2022-07-16
2022-07-12
2022-04-19
2022-07-07
2021-12-08
2021-12-09
2021-12-10
2021-12-13
2021-12-16
2021-12-18
2021-12-20
2021-12-20
2021-12-21
2021-12-24
2021-12-24
2021-12-27
2021-12-27
2021-12-28
2022-01-18
2022-01-04
2022-01-19
2022-01-17
2022-01-22
2022-01-23
2022-01-29
2022-02-12
2022-03-01
2022-06-07
2022-02-25
2022-02-18
2022-03-21
2022-03-03
2022-03-12
2022-03-17
2022-03-24
2022-03-27
2022-03-27
2022-03-29
2022-04-03
2022-04-03
2022-04-04
2022-04-06
2022-05-13
2022-04-06
2022-04-06
2022-04-18
2022-04-22
2022-06-12
2022-05-05
2022-05-06
2022-05-10
2022-05-11
2022-05-11
2022-05-19
2022-05-19
2022-05-25
2022-05-28
2022-06-04
2022-06-05
2022-06-07
2022-07-01
2022-06-14
2022-07-15
2022-06-18
2022-06-20
2022-06-25
2022-06-30
2022-07-03
2022-07-07
2022-07-09
2022-07-10
2022-07-14
2022-07-14
2022-07-15
2022-07-16
2022-07-19
2022-07-22
2022-07-23
2022-07-25
2022-07-25

IndexError: index 0 is out of bounds for axis 0 with size 0

In [20]:
test_id = 556686
RD = reference_df.loc[reference_df["patient_id"]==test_id, "reference_date"].values[0]
RD

'2021-11-03'

In [9]:
echo_df = pd.read_excel("sziv_echo_lelet.ods", engine="odf")
echo_df.to_excel("sziv_echo_lelet.xlsx")

## Text data

In [2]:
# read excels into pandas

neurologia_df = pd.read_excel("neurologia.xlsx")
sbo_df = pd.read_excel("sbo_ambulans_lap.xlsx")
echo_df = pd.read_excel("sziv_echo_lelet.xlsx")
reference_df = pd.read_csv("patient_reference.csv")

In [3]:
echo_df.head()

,Unnamed: 0,patient_id,shifted_refrence_date,account_date,txt_type,txt_value
0,0,455768,2021-11-12,2020-01-16,ANM,Echocardiographia: Aorta: 28 ...
1,1,455967,2022-04-09,2022-09-17,STA,Aorta: 23-33-30 mm Bal pitvar: ...
2,2,455967,2022-04-09,2022-09-17,ADN,csak echo neuro kÃ©ri ambulÃ¡ns beteg sÅ±rgÅ‘s helÃ©n
3,3,455996,2022-04-19,2022-04-22,STA,Aorta: 25-40-36-40 mm EDV: 152 mlB...
4,4,456420,2022-06-12,2022-06-18,STA,Aorta: 22-30-24 mm EDV: 90 ml...

In [13]:
analyzer_ids = neurologia_df["patient_id"].unique()
npis = reference_df["npi"].unique()
# analyzer_observation_codes = neurologia_df["observation_code"].unique()
# analyzer_observation_codes = ["KKGLUSE", "KKCRP", "KKCRP", "KKTROPTH", "KKPBNP", "KKKN", "KKKREA", "KKEGFRE", "KKFVS", "KKPTINR", "KKAPTI", "KKHBA1C", "KKTG", "KKLDL", "KKQDDIM"]
text_types = ["ANM", # GyÃ³gyszerek, betegsÃ©gek
              "_DLANM",
              "STA", # NIHSS, pre-mRS
              "_DLSTA",
              "_DLDGN", # diagnÃ³zisok, BNO-kÃ³dok
              "EPD",
              "_DLEPD", # epikrÃ­zis
              "DEC", # dekurzus - pl. thrlysis (dÃ³zissal egyÃ¼tt), threctomia
              ]

# IDs = [455768, 456420, 455996, 456420, 480627]
# OBSs = ["KKKREA", "KKKN", "KKNA", "KKK"]

text_df = pd.DataFrame(index=['ID'], columns=['NPI', 'adm_date', 'prev_stroke', 'AF', 'CHF', 'vascular_disease', 'Diabetes', 'Hypertension', 'Alcohol', 'Smoking', 'Anticoag_prev', 'TAG_prev', 'DM_ther', 'pre_mRS', 'RR_sys', 'RR_dia', 'HR', 'NIHSS_0', 'Thrombolysis', 'Alteplase_dose', 'Thrombectomy'])
grouped = neurologia_df.groupby(["patient_id", "txt_type"])
for ID in analyzer_ids:
  NPI = reference_df.loc[reference_df["patient_id"]==ID, "npi"].values[0]
  ADM_DATE = neurologia_df.loc[neurologia_df["patient_id"]==ID, "admission_date"].values[0]
  for TXT in text_types:
    try:
      VAL = grouped.get_group((ID, TXT))["txt_value"].values[0]
      
    except KeyError:
      VAL = None
    # row = pd.Series({OBS:VAL}, name=ID)
    # print(row)
    
    text_df.at[ID, TXT] = VAL
    text_df.at[ID, "NPI"] = NPI
    text_df.at[ID, "adm_date"] = ADM_DATE
text_df = text_df.drop(index=["ID"])
#text_df.to_excel('text_data.xlsx')

## Thrombolysis

In [11]:
alteplase_df = pd.DataFrame(index=['ID'], columns=['NPI','dec_txt', 'epi_txt'])
for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    STAT_TEXT = str(text_df.at[ID, 'STA']) + ' ' + str(text_df.at[ID, '_DLSTA'])
    DIAG_TEXT = str(text_df.at[ID, '_DLDGN']) # pl.: if 'I48H0' in DIAG_TEXT -> AF = 'yes'
    EPI_TEXT = str(text_df.at[ID, 'EPD']) + ' ' + str(text_df.at[ID, '_DLEPD'])
    DEC_TEXT = str(text_df.at[ID, 'DEC'])

    if 'altep' in DEC_TEXT:
        alteplase_df.at[ID, 'NPI'] = NPI
        alteplase_df.at[ID, 'dec_txt'] = DEC_TEXT
    elif 'altep' in EPI_TEXT:
        alteplase_df.at[ID, 'NPI'] = NPI
        alteplase_df.at[ID, 'epi_txt'] = EPI_TEXT

alteplase_df.to_csv("alteplase.csv")

## Status

In [113]:
import re
# Status patterns
nihss_pattern = r'NIHSS:?\s*\d+'
mrs_pattern = r'mRS:?\s*\d+'
rr_pattern = r'RR:\s?\d{2,3}/\d{2,3}'
hr_pattern = r'P:\s?\d{2,3}'
#status_patterns = [nihss_pattern, mrs_pattern, rr_pattern, hr_pattern]

In [121]:
for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    STAT_TEXT = str(text_df.at[ID, 'STA']) + ' ' + str(text_df.at[ID, '_DLSTA'])
    DIAG_TEXT = str(text_df.at[ID, '_DLDGN']) # pl.: if 'I48H0' in DIAG_TEXT -> AF = 'yes'
    EPI_TEXT = str(text_df.at[ID, 'EPD']) + ' ' + str(text_df.at[ID, '_DLEPD'])
    DEC_TEXT = str(text_df.at[ID, 'DEC'])
    ALL_TEXT = ANM_TEXT + STAT_TEXT + DIAG_TEXT + EPI_TEXT + DEC_TEXT

    nihss = re.findall(nihss_pattern, ALL_TEXT)
    if nihss:
        #print(nihss[0])
        nihss = nihss[0].split()
        #print(len(nihss))
        if len(nihss) == 2:
            text_df.at[ID, 'NIHSS_0'] = nihss[1]



    mrs = re.findall(mrs_pattern, ALL_TEXT)
    if mrs:
        mrs = mrs[0].split()
        if len(mrs) == 2:
            text_df.at[ID, 'pre_mRS'] = mrs[1]



    rr = re.findall(rr_pattern, STAT_TEXT)
    if rr:
        rr = rr[0].split(':')[1]
        rr_sys = rr.split('/')[0]
        rr_dia = rr.split('/')[1]
        text_df.at[ID, 'RR_sys'] = rr_sys
        text_df.at[ID, 'RR_dia'] = rr_dia


    hr = re.findall(hr_pattern, STAT_TEXT)
    if hr:
        hr = hr[0].split(':')[1]
        text_df.at[ID, 'HR'] = hr

## Anamnesis

In [162]:
for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    STAT_TEXT = str(text_df.at[ID, 'STA']) + ' ' + str(text_df.at[ID, '_DLSTA'])
    DIAG_TEXT = str(text_df.at[ID, '_DLDGN']) # pl.: if 'I48H0' in DIAG_TEXT -> AF = 'yes'
    EPI_TEXT = str(text_df.at[ID, 'EPD']) + ' ' + str(text_df.at[ID, '_DLEPD'])
    DEC_TEXT = str(text_df.at[ID, 'DEC'])
    ALL_TEXT = ANM_TEXT + STAT_TEXT + DIAG_TEXT + EPI_TEXT + DEC_TEXT

    #Hypertonia
    if 'Morbus hypertonicus' in DIAG_TEXT:
        text_df.at[ID, 'Hypertension'] = 1

    #Diabetes
    if 'Diabetes mellitus' in DIAG_TEXT:
        text_df.at[ID, 'Diabetes'] = 1

    #Vascular disease
    vascs = ['myocardii', 'Atherosclerosis']
    for item in vascs:
        if item in DIAG_TEXT:
            text_df.at[ID, 'vascular_disease'] = 1

    #PangÃ¡sos SZE
    if 'Decompensatio' in DIAG_TEXT:
        text_df.at[ID, 'CHF'] = 1

    #PF
    if 'Fibrillatio atrii cordis' in DIAG_TEXT:
        text_df.at[ID, 'AF'] = 1
        # pfs = ['PF', 'Pitvarfibrillatio', 'pitvarfibrillatio']
        # for item in pfs:
        #     if item in ANM_TEXT:
        #         text_df.at[ID, 'AF'] = 'known'
        #     else:
        #         text_df.at[ID, 'AF'] = 'recent'


    #Stroke/TIA/thromboembolia
    embs = ['embolia', 'TIA', 'MVT']
    for item in embs:
        if item in ANM_TEXT:
            text_df.at[ID, 'prev_stroke'] = 2

In [150]:
text_df['AF'] = None

## KorÃ¡bbi dolgok

In [5]:
import pandas as pd
import re
text_df = pd.read_excel('text_data.xlsx')

In [6]:
patterns = [r'KÃ³relÅ‘zmÃ©ny.*',
            r'KorÃ¡bbi.*',
            r'Ismert.*',
            r'TÃ¡rs.*',
            r'TÃ¡volabbi.*'
]

for ID in text_df.index:
    NPI = text_df.at[ID, 'NPI']
    ANM_TEXT = str(text_df.at[ID, 'ANM']) + ' ' + str(text_df.at[ID, '_DLANM'])
    
    KORELOZMENY_TEXT = ''
    for pattern in patterns:
        match = re.findall(pattern, ANM_TEXT)
        if match:
            KORELOZMENY_TEXT += match[0]
    #print(KORELOZMENY_TEXT)
    strokes = ['stroke', 'Stroke', 'TIA', 'embolia']
    for s in strokes:
        if s in KORELOZMENY_TEXT:
            text_df.at[ID, 'prev_stroke'] = 2

    elv_szerek = ['']

In [164]:
text_df.to_excel('text_data.xlsx')

In [8]:
# Test

test_ids = ['34356630',
            '34112447',
            '57515676',
            '100126503',
            '06550699',
            '21285402',
            '56966879',
            '17757991',
            '102850385']


test_df =